<div class="container">
    <div #gameTable class="game-table">
        <div class="game-table__content">
            <div class="game-table__content__reveal">
                <div class="reveal-button-wrapper" *ngIf="!room?.revealScore">
                    <button mat-flat-button [disabled]="cantReveal()" (click)="onRevealRequest()">      
                        <mat-icon>
                            info
                        </mat-icon>
                        <span class="text">Reveal</span>
                    </button>
                </div>
                <div class="reveal-score-wrapper" *ngIf="room?.revealScore">
                    <h2 class="score">{{room?.revealScore}}</h2>
                    <p class="text">Average</p>

                    <button class="start-new" mat-flat-button (click)="startNewVoting()">
                        <span class="text">Start new Voting</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-wrapper" *ngFor="let guest of guests" [id]="guest.id">
            <div class="card">
                <img src="../../../../assets/images/logo-white.svg">
            </div>
            <div class="guest-name text">
                <span>Guest {{guest.index}}</span>
            </div>
        </div>
        <div class="score-cards">
            <app-room-score (scoreUpdated)="onGuestVote($event)"></app-room-score>
        </div>
    </div>
</div>