:root {
    --main-blue: #3197BC;
    --white: #fff;
    --light-grey: #DBDBDB;
    --stroke: #EEE;
    --main-stroke: #F2F5F7;
    --text-black: #2b2B2B;
    --text-grey: #2B8DFE;
    --text-validation: #F6A928;
    --error: #EF2A29;
    --text-succes: #0FD36A;
    --light-blue: #4FC1EB;
    --table-background: #EAEAEA;
}